@CHARSET "UTF-8";
/* ------ Page组件样式 Begin ------ */

.pageList {
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    text-align: center;
    line-height: 30px;
}

.pageList img {
    vertical-align: middle;
}

.pageList span {
    margin: 0px 10px;
    vertical-align: middle;
}

.selected {
    color: #35b1f1;
    font-weight: bold;
}

/* ------ Page组件样式 End ------ */